extends layout

block content
  h1 Welcome to divideyourself.com q3
  
  a(href='https://www.pivotaltracker.com/n/projects/1674691') pivotal tracker

  p

  a(href='https://s3-us-west-2.amazonaws.com/divideyourself.com/images/MVPLite-Mockup.png') MVP mockup

  p

  a(href='https://divideq3.herokuapp.com/') heroku url

  p local development database is called dividedb
