extends layout

block content
  h1 Welcome to divideyourself.com q3
  
  p stories are in README or on pivotal
  p https://www.pivotaltracker.com/n/projects/1674691

  p Mockup
  p https://s3-us-west-2.amazonaws.com/divideyourself.com/images/MVPLite-Mockup.png

  p I set up the Git master to automatically deploy to: https://divideq3.herokuapp.com/

  p local development database is called dividedb
