/* Reset */
html, body {
  height: 100%;
  width: 100%;
}
body {
  font-family: "Helvetica Neue", "Segoe UI";
  margin: 0;
  overflow: hidden;
}
::-webkit-scrollbar {display: none;}
::-moz-scrollbar {display: none;}
.material-icons {font-size: 20px; padding: 10px; cursor: pointer;}

/* Nav */
nav {
  height: 40px;
  background: rgb(20,20,20);
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 3;
}
.nav-link {
  color: white;
  cursor: pointer;
  display: inline-block;
  padding: 10px;
  max-width: 150px;
}
.nav-link:first-child {
  padding: 10px 20px;
}

.signout {
  border-left: 1px solid white;
  float: right;
  padding: 10px 20px;
}
.sign {
  float: right;
  font-size: 0;
  max-height: 40px;
  overflow: hidden;
  transition: .2s all;
  width: 200px;
}
.sign.open {
  max-height: 200px;
}

.clear-sign {
  color: white;
  float: right;
  vertical-align: top;
}

.sign .nav-link {
  border-left: 1px solid white;
  overflow: hidden;
  padding: 12px;
  text-align: center;
  transition: .2s all;
  width: 50%;
}
.sign .nav-link.hide {
  border: 0;
  padding: 10px 0px;
  width: 0px;
}

.sign input, .sign button, .sign div {
  box-sizing: border-box;
  font-size: 14px;
  height: 40px;
}

.sign input, .sign button {
  box-sizing: border-box;
  padding: 10px;
  width: 100%;
}

/* Main */
main {
  height: calc(100% - 80px);
  overflow-y: scroll;
  position: relative;
  margin-top: 40px;
}

#map-container {
  height: calc(100% - 80px);
  width: 100%;
  position: fixed;
  transition: .3s all;
  z-index: 2;
}
.showPosts #map-container {
  z-index: 1;
}

#map {height: 100%; width: 100%;}

#content {
  position: absolute;
  text-align: center;
  transform: translate3d(0,100vh,0);
  transition: .3s all;
  width: 100%;
  z-index: 1;
}
.showPosts #content {
  transform: translate3d(0,0,0);
  z-index: 2;
}

.newPost {
  font-size: 0;
  transition: .2s all;
  pointer-events: none;
  position: fixed;
  top: 200px;
  width: 100%;
  transform: translate3d(0,100vh,0);
}
.showNewPost .newPost {
  transform: translate3d(0,0,0);
  z-index: 2;
}
.newPost form {
  margin: 0 auto;
  pointer-events: auto;
  width: 90%;
  max-width: 600px;
}
.newPost input, .newPost textarea {
  box-sizing: border-box;
  width: 100%;
  padding: 10px;
}
.newPost .lat, .newPost .lng {
  width: 50%;
}
.newPost button {
  border: 0;
  box-sizing: border-box;
  padding: 10px;
  width: 50%;
}
.newPost .cancel {
  color: white;
  background: red;
}
.newPost .submit {
  color: white;
  background: green;
}

.newPost h2 {
  font-size: 24px;
  background: rgb(20,20,20);
  color: white;
  margin: 0;
  padding: 10px;
  text-align: center;
}

/* Posts */
.post {
  border-radius: 5px;
  box-shadow: 0px 0px 20px 5px rgba(0,0,0,.5);
  margin: 20px auto;
  max-width: 900px;
  width: 95%;
}
.post-info {
  background: white;
  border-radius: 0px 0px 5px 5px;
}

.carosel {
  border-radius: 5px 5px 0px 0px;
  background: rgba(20,20,20,.8);
  position: relative;
  height: 480px;
  width: 100%;
  overflow: hidden;
}
.next-image, .prev-image {
  box-sizing: border-box;
  transition: .2s all;
  padding-top: 25%;
  position: absolute;
  top: 0;
  height: 100%;
  z-index: 1;
  opacity: 0;
}
.carosel i {
  text-shadow: 1px 1px black, 1px -1px black, -1px 1px black, -1px -1px black;
  color: rgb(220,220,220);
  font-size: 60px;
}

.carosel:hover .next-image, .carosel:hover .prev-image {
  opacity: 1;
}
.next-image:hover, .prev-image:hover {
  color: white;
}
.next-image {right: 0;}
.prev-image {left: 0;}
.post-image {
  position: absolute;
  top: 0;
  height: 100%;
  max-width: 100%;
  opacity: 0;
  transition: .2s all;
}
.post-image.open {
  margin: 0 auto;
  position: relative;
  opacity: 1;
}
.post-heading, .post-respect {
  padding: 5px 10px;
}
.post-heading {
  float: left;
  text-align: left;
}
.post-title, .separator, .post-username, .post-usertribe {
  display: inline-block;
}
.post-title {
  font-size: 20px;
}
.post-title, .post-username, .post-usertribe {
  font-weight: 500;
}

.post-respect {float: right;}
.post-content {
  clear: both;
  padding: 10px 10px 30px 10px;
}

/* Footer */
footer {
  bottom: 0;
  width: 100%;
  position: fixed;
  background: rgb(20,20,20);
  box-sizing: border-box;
  font-size: 0;
  height: 40px;
  z-index: 3;
}
footer div {
  transition: .2s all;
  border-right: 1px solid white;
  color: white;
  cursor: pointer;
  display: inline-block;
  font-size: 16px;
  height: 100%;
  padding: 10px;
}
footer div:hover {background: black;}
.newPostActive footer div:first-child {
  color: black;
  background: white;
}
