.board-container{
  position: absolute;
  z-index: 2;
  margin-top: 80px;
  left: 2%;
  width: 96%;
  box-shadow: none;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
}

.board-post {
  width: 90%;
  background: rgba(60,60,60,0.9);
  color: white;
  display: flex;
  align-items: center;
  flex-flow: column nowrap;
  margin: 5px;
  border-radius: 5px;
}
.board-post img {
  justify-content: center;
  width: 100%;
  background: rgba(84,84,84,1);
}
