<div class="chat-dude" ng-repeat="convo in messages">
  <div class="chat-messages" ng-show="convo.isOpen">
    <div class="chat-message" ng-repeat="message in convo.log">
      <div class="message-from">{{message.fromUser}}</div>
      <div class="message-timestamp">{{message.timestamp | date:'mediumTime'}}</div>
      <div class="message-message">{{message.message}}</div>
    </div>
    <form class="chat-form" ng-submit="chat.send(convo.username, convo.input)">
      <input class="chat-input" ng-model="convo.input" required>
      <button class="chat-submit" type="submit"></button>
    </form>
  </div>
  <div class="chat-title" ng-click="convo.isOpen = !convo.isOpen">{{convo.username}}</div>
</div>
