<img class="comment-profile" ng-src="{{comment.profile_url}}">
<div class="comment-heading">
  <div class="comment-username" ng-click="getProfile(comment.user_id)">{{comment.username}}</div>
  <div class="comment-timestamp">{{comment.timestamp | dateFilter}}</div>
  <!-- <div class="voting">
    <i class="material-icons" ng-click="upvote(post.id, 'posts_comments', comment)">keyboard_arrow_up</i>
    <i class="material-icons" ng-click="downvote(post.id, 'posts_comments', comment)">keyboard_arrow_down</i>
  </div> -->
</div>
<div class="comment-comment">{{comment.comment}}</div>
