<img class="comment-profile" ng-src="{{comment.profile_url}}">
<div class="comment-heading">
  <div class="vote-container" ng-show="user">
    <div class="voting">
      <span class="material-icons" ng-click="upvote(comment.id, 'comments', comment)">keyboard_arrow_up</span>
      <span class="comment-respect">{{comment.points}}</span>
      <span class="material-icons" ng-click="downvote(comment.id, 'comments', comment)">keyboard_arrow_down</span>
    </div>
  </div>
  <div class="comment-username" ng-click="getProfile(comment.user_id);profile.toggleProfile(comment.user_id);profile.getUser(post.user_id)">{{comment.username}}</div>
  <div class="comment-timestamp">{{comment.timestamp | dateFilter}}</div>
</div>
<div class="comment-comment">{{comment.comment}}</div>
