<div class="logomark">
  <div class="nav-link-logo" ui-sref="home">
    <img src="https://s3-us-west-2.amazonaws.com/divideyourself.com/images/1divide-logo.svg" alt="" class="logo">
  </div>
</div>
<div class="navIcon">
  <i class="material-icons navIcon" ng-click="">class</i>
</div>
<div class="navIcon">
  <i class="material-icons navIcon" ng-click="locationFeature.toggleShowChangeLoc()">control_point</i>
</div>
<div class="navIcon">
  <i class="material-icons navIcon" ng-click="searchFeature.toggleShowSearch()">search</i>
</div>
<div class='signinSignupContainer' ng-show="!user">
  <div class="signinSignupDiv" ng-click="signup.toggle()"><span>Sign Up</span></div> /
  <div class="signinSignupDiv" ng-click="signin.toggle()"><span>Sign In</span></div>
</div>
<!-- <div class="nav-link signout" ng-show="!!user" ng-click="profile.toggleShowProfile()">Profile</div> -->

<div class="signout" ng-show="!!user" ng-click="profile.toggleShowProfile();profile.getProfileUser(user.id)">{{user.username || profile}}</div>

<form class="sign" ng-submit="submitSignIn()"  name="signform" ng-show="signin.show" ng-if='!user'>
  <input ng-model="sign.email" type="text" placeholder="Enter Username or Email" required>
  <input ng-model="sign.password" type="password" placeholder="Password"  required>
  <button type="submit">Submit</button>
</form>
