<div class="form-container">
  <form ng-submit="postServ.create(posts)" class='newPost' ng-if="showNewPost">
    <h2>Add New Post</h2>
    <input type="text" placeholder="title" ng-model="newPost.title" required>
    <input type="text" placeholder="media url" ng-model="newPost.media_url" required>
    <textarea rows="8" cols="40" ng-model="newPost.body" placeholder="body"></textarea>
    <input type="text" placeholder="latitude: " class="lat" ng-model="newPost.lat" required>
    <input type="text" placeholder="longitude: " class="lng" ng-model="newPost.lng" required>
    <button class="submit pointer" type="submit">Submit</button>
    <button class="cancel pointer" ng-click="toggleNewPost()">Cancel</button>
  </form>
</div>
