<a ui-sref="city(linkBuilder(soloPost, 1))" class="backFromPost"></a>
<div class="solo-container">
  <div class="post-container">
    <div class="solo-post post">
      <div class="carosel">
        <a ui-sref="city(linkBuilder(soloPost, 1))"><button ng-click="" class="postClear">X</button></a>
        <div class="prev-image" ng-click="prevImage(soloPost)" ng-show="soloPost.openImage > 0">
          <i class="material-icons">keyboard_arrow_left</i>
        </div>
        <img class="post-image" ng-repeat="url in soloPost.media_url" ng-src="{{url}}" ng-class="{open: testOpenImage(soloPost, $index)}">
        <div class="next-image" ng-click="nextImage(soloPost)" ng-show="soloPost.openImage < soloPost.media_url.length - 1">
          <i class="material-icons">keyboard_arrow_right</i>
        </div>
      </div>
      <div class="post-info">
        <div class="post-heading">
          <a ui-sref="post(linkBuilder(soloPost))" class="post-title">{{soloPost.title}}</a>
          <div class="separator">by</div>
          <div class="post-username pointer" ng-click="profile.toggleProfile(soloPost.user_id);profile.getUser(soloPost.user_id);friends.isFriend(soloPost.user_id)">{{soloPost.username}}</div>
          <div class="separator" ng-show="soloPost.usertribe">of</div>
          <div class="post-usertribe" ng-show="soloPost.usertribe">{{soloPost.usertribe}}</div>
        </div>
        <!-- <div class="post-actions" ng-show="user.id === soloPost.user_id">
          <div class="post-edit">Edit</div>
          <div class="post-delete" ng-click="deleteSoloPost(soloPost)">Delete</div>
        </div> -->
        <div class="vote-container" ng-show="user">
          <div class="voting">
            <span class="material-icons voting single-voting" ng-click="upvote(post.id, 'posts', soloPost)">keyboard_arrow_up</span>
              <span class="post-respect">{{soloPost.points || 0}} respect</span>
            <span class="material-icons voting single-voting" ng-click="downvote(post.id, 'posts', soloPost)">keyboard_arrow_down</span>
          </div>
        </div>
        <div class="post-content">{{soloPost.body}}</div>
        <div class="post-comments-toggle" ng-click="soloPost.commentsClosed = !soloPost.commentsClosed">
          {{soloPost.commentsClosed ? 'Show' : 'Hide'}} {{soloPost.comments.length}} Comment{{soloPost.comments.length === 1 ? '' : 's'}}
        </div>
        <div class="post-comments" ng-show="!soloPost.commentsClosed">
          <form class="newComment" ng-show="!!user" ng-submit="commServ.create(soloPost)">
            <textarea rows="4" placeholder="Write a Comment" ng-model="soloPost.newComment" required></textarea>
            <button type="submit">Add Comment</button>
          </form>
          <comment class="comment" ng-repeat="comment in soloPost.comments | orderBy: '-timestamp'"></comment>
        </div>
      </div>
    </div>
  </div>
</div>
