<carosel class="carosel"></carosel>
<div class="post-info">
  <div class="post-heading">
    <a ui-sref="post(linkBuilder(post))" class="post-title">{{post.title}}</a>
    <div class="separator">by</div>
    <div class="post-username" ng-click="profile.getUser(post.user_id);profile.toggleProfile(post.user_id)">{{post.username}}</div>
    <div class="separator" ng-show="soloPost.usertribe">of</div>
    <div class="post-usertribe" ng-show="soloPost.usertribe">{{post.usertribe}}</div>
  </div>
  <div class="post-actions" ng-show="user.id === post.user_id">
    <div class="post-edit">Edit</div>
    <div class="post-delete" ng-click="deletePost(post)">Delete</div>
  </div>
  <div class="vote-container">
    <div class="voting">
      <span class="material-icons voting" ng-click="upvote(post.id, 'posts', post)">keyboard_arrow_up</span>
      <span class="post-respect">{{post.points || 0}} respect</span>
      <span class="material-icons voting" ng-click="downvote(post.id, 'posts', post)">keyboard_arrow_down</span>
    </div>
  </div>
  <div class="post-content">
    {{post.body}}
  </div>
  <div class="post-comments-toggle" ng-click="post.commentsOpen = !post.commentsOpen">
    {{post.commentsOpen ? 'Hide' : 'Show'}} {{post.comments.length}} Comment{{post.comments.length === 1 ? '' : 's'}}
  </div>
  <div class="post-comments" ng-show="post.commentsOpen">
    <form class="newComment" ng-show="!!user" ng-submit="commServ.create(post)">
      <textarea rows="4" placeholder="Write a Comment" ng-model="post.newComment" required></textarea>
      <button type="submit">Add Comment</button>
    </form>
    <comment class="comment" ng-repeat="comment in post.comments | orderBy: '-timestamp'"></comment>
  </div>
</div>
