<div class="profile">
  <div class="profile-details">
    <div class='profile-img'>
      <img ng-src="{{ user.profile_url }}" alt="">
      <h3>{{ user.firstname }} {{ user.lastname }}</h3>
      <h3>{{ user.username }}</h3>
    </div>
    <div class='user-details'>
      <h4>{{ user.email }}</h4>
      <!-- TODO Add change password feature -->
      <h5 style="cursor: pointer">Change Password</h5>
    </div>
    <div class="post-details">
      <div class="post-preview" ng-show="user.userPosts.length > 0" ng-repeat="post in user.userPosts">
        <h4 class="title">{{ post.title }}</h4>
        <p>{{ post.body }}</p>
        <!-- <img style="width: 75px" ng-src="{{ post.media_url }}" alt=""> -->
      </div>
    </div>
  </div>
</div>
