<!-- Display signed-in user -->

<div class="profile" ng-show="profile.profileView === 'activeUser'">
  <button ng-click="profile.hideProfile()" class="close-profile-button">X</button>
  <div class="profile-details">
    <img ng-src="{{ user.profile_url }}" alt="">
    <div class='user-details'>
      <div class='profile-img'></div>
      <h3 >{{ user.firstname }} {{ user.lastname }}</h3>
      <h3>{{ user.username }}</h3>
      <h4>{{ user.email }}</h4>
      <!-- TODO Add change password feature -->
      <h5 style="cursor: pointer">Change Password</h5>
    </div>
    <div class="post-details">
      <h3>Posts by {{ user.username }}</h3>
      <hr/>
      <p ng-show="profile.activeUser.posts <= 0">Click "New Post" to get started!</p>
      <div class="post-preview" ng-repeat="post in profile.activeUser.posts">
        <img ng-src="{{ post.media_url[0] }}" alt="">
        <h4>{{ post.title }}</h4>
        <p>{{ post.body }}</p>
      </div>
    </div>
  </div>
</div>

<!-- Display different users -->
<div>
  <div class="profile" ng-show="profile.profileView === 'profileUser'">
    <button ng-click="profile.hideProfile()" class="close-profile-button">X</button>
    <div class="profile-details">
      <div class='profile-img'>
        <h3>{{ profile.profileUser.firstname }} {{ profile.profileUser.lastname }} <dy-add-friend ng-click="friends.addFriend(profile.profileUser.id)"></dy-add-friend></h3>
        <img ng-src="{{ profile.profileUser.profile_url }}" alt="">
        <h3>{{ profile.profileUser.username }}</h3>
      </div>
      <div class='user-details'>
        <h4>{{ profile.profileUser.email }}</h4>
      </div>
      <div class="post-details">
        <h3>Posts by {{ profile.profileUser.username }}</h3>
        <p ng-show="profile.profileUser.posts <= 0">Click "New Post" to get started!</p>
        <div class="post-preview" ng-repeat="post in profile.profileUser.posts">
          <h4>{{ post.title }}</h4>
          <img ng-src="{{ post.media_url[0] }}" alt="">
          <p>{{ post.body }}</p>
        </div>
      </div>
    </div>
  </div>
</div>
