<div>
  <input type="text" placeholder="Search Posts" ng-show="searchFeature.showSearch === true" ng-model="search"  class="searchbar">
  <div ng-show="locationFeature.showChangeLoc === true" class="searchbar" ng-submit="">
    <form ng-submit="locationFeature.goTo()">
      <input ng-model="locationFeature.state" type="text" placeholder="Enter State"   class="location-searchbar-first">
      <input ng-model="locationFeature.city" type="text" placeholder="Enter Location" class="location-searchbar-last">
      <input class="location-submit" type="submit"> Go!</input>
    </form>
  </div>
</div>

<div class="subnavBar" ng-show="subnav.show">
  <div class="subnavSort">Sort by :
    <div class="subnavSortDiv">
      <span>Date </span>
    </div>
    <div class="subnavSortDiv">
      <span ng-click="togglePosts()">Rating </span>
    </div>
    <div class="subnavSortDiv">
      <span>Trending</span>
    </div>
  </div>
  <div class="subnavIcon">
    <i class="material-icons addPostIcon"  ng-class="{newPostActive: newPostActive}" ng-click="postServ.toggleLock()">add</i>
  </div>
</div>
<aside class="sidenav" ng-show='sideNav.show'>
  <div class="sidenav-user pointer" ng-click="profile.toggle();profile.toggleProfile(user.id);profile.getUser(user.id)">
    <img ng-src="{{ user.profile_url }}" alt="">
    <p>Profile</p>
  </div>
  <div class="sidenav-user pointer" ng-click="friends.toggleShowFriends()">
    <i class="material-icons">people_outline</i>
    <p>Friends ({{ friends.friendsList.length | number}})</p>
  </div>
  <div dy-friends ng-show="friends.showFriends"></div>
  <hr>
  <div class="sidenav-user pointer" ng-click="profile.toggle();signOut()">
    <i class="material-icons">lock</i>
    <p>Signout</p>
  </div>
</aside>
