<div>
  <input type="text" placeholder="Search Posts" ng-show="searchFeature.showSearch === true" ng-model="search"  class="searchbar">
  <input type="text" placeholder="Change Location" ng-show="locationFeature.showChangeLoc === true"  class="searchbar">
</div>

<div class="subnav" ng-show="subnav.show">
  <div class="subnavSort">Sort by : <span>Date </span><span ng-click="togglePosts()">Rating </span><span>Trending</span></div>
  <div class="subnavIcon">
    <i class="material-icons addPostIcon" ng-click="activateNewPost();toggleNewPost()">add</i>
  </div>
</div>
<aside class="sidenav" ng-show='sideNav.show'>
  <div class="sidenav-user pointer" ng-click="profile.toggle();profile.toggleProfile(user.id);profile.getUser(user.id)">
    <img ng-src="{{ user.profile_url }}" alt="">
    <p>Profile</p>
  </div>
  <div class="sidenav-user pointer" ng-click="profile.toggle()">
    <i class="material-icons">people_outline</i>
    <p>Friends</p>
  </div>
  <div class="sidenav-user pointer" ng-click="profile.toggle();signOut()">
    <i class="material-icons">lock</i>
    <p>Signout</p>
  </div>
</aside>
