<div>
  <input type="text" placeholder="Search Posts" ng-show="searchFeature.showSearch === true" ng-model="search"  class="searchbar">
  <input type="text" placeholder="Change Location" ng-show="locationFeature.showChangeLoc === true"  class="searchbar">
</div>
<div class="subnav" ng-show="!!user">
  <div class="subnavSort">Sort by : <span>Date </span><span ng-click="togglePosts()">Rating </span><span>Trending</span></div>
  <div class="subnavIcon">
    <i class="material-icons addPostIcon" ng-click="activateNewPost();toggleNewPost()">add</i>
  </div>
</div>




<!-- <div class="subnav-link" ui-sref="home">Divide Yourself</div> -->
<!-- <input type="text" placeholder="Search Posts" ng-model="search"> -->
<!-- <div class="subnav-link signout" ng-show="!!user" >View posts by </div>
<div class="subnav-link signout" ng-show="!!user" ng-click="signOut()">Signout</div> -->
<!-- <form class="sign" ng-submit="submitSign()" ng-class="{open: !!sign.type}" name="signform" ng-hide="!!user">
  <div class="subnav-link" ng-click="openSign('up')" ng-class="{hide: sign.type === 'in'}">Signup</div>
  <div class="subnav-link" ng-click="openSign('in')" ng-class="{hide: sign.type === 'up'}">Signin</div>
  <i class="material-icons clear-sign" ng-click="sign.type = '';">clear</i>
  <input type="text" placeholder="{{sign.type === 'in' ? 'Username or Email' : 'Email'}}" ng-model="sign.email" required>
  <input type="password" placeholder="Password" ng-model="sign.password" required>
  <button type="submit">Submit</button>
</form> -->
